.cta {
  width: 100%;
  height: 180px;
  padding: 20px;
  background-image: url("/assets/images/bg-boost-desktop.svg");
  background-color: #3a3053;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: poppins;
  font-weight: 700;
  font-size: 36px;
  line-height: 90px;
  color: white;
}

.button {
  width: 200px;
  color: white;
  height: 50px;
  font-size: 16px;
  padding: 0 10px;
  font-family: poppins;
  background-color: #2acfcf;
  border: none;
  border-radius: 30px;
}
