.footer {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #232027;
  color: white;
  padding: 60px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
.img {
  align-items: center;
}
.navContainer {
  width: 15%;
}
.nav {
  list-style: none;
  padding: 0;
  font-size: 16px;
  color: #bfbfbf;
}
.title {
  font-weight: 500;
}
.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}
