.container {
  width: 70%;
  height: 100px;
  padding: 20px;
  margin: -250px 0 80px 0;
  z-index: 1;
  border-radius: 10px;
  background-color: #3b3054;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input {
  width: 60%;
  height: 50px;
  border: none;
  font-family: poppins;
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
}
.button {
  width: 160px;
  color: white;
  height: 50px;
  font-size: 16px;
  padding: 0 10px;
  background-color: #2acfcf;
  border: none;
  border-radius: 10px;
}
